body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #0f1f38; /* dark blue background */
    color: #ffffff; /* white text */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    padding: 40px;
    width: 300px;
    border-radius: 10px;
    background-color: #1f3f5f; /* blue container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.logo {
    width: 100px;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff; /* white input fields */
    color: #333333; /* text */
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #83b86c; /* green button */
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #789bff; /* blue on hover */
}
.prediction-container {
    padding: 40px;
    width: 300px;
    border-radius: 10px;
    background-color: #1f3f5f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
}

.prediction-container h1 {
    color: #83b86c;
    font-size: 24px;
    margin-bottom: 20px;
}

.prediction-container .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.prediction-container label {
    display: block;
    margin-bottom: 5px;
}

.prediction-container input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    color: #333333;
    background-color: white;
}

.prediction-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #83b86c;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.prediction-container button:hover {
    background-color: #789bff;
}

